# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
Dojo React/react_app/node_modules
Dojo Node.js/Rest/node_modules
Dojo Node.js/Rest_Menu/node_modules


# production
Dojo React/react_app/build

# misc
.DS_Store
Dojo React/react_app/npm-debug.log
Dojo Node.js/Rest/npm-debug.log
Dojo Node.js/Rest_Menu/npm-debug.log
