<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Juegos</h2>
  <p>Que chimbita de juegos.<br>Llámanos o escríbenos y realiza la preguntas que desees.</p>
  <p>
    Juegos UdeA
    <address>
      Universidad de Antioquia<br>
      Medellín
    </address>
    <a href="tel:57.3000079944">(57) 300-0079944</a><br>
    <a href="mailto:juegos@udea.com">juegos@udea.com</a>
  </p>
  {{#link-to 'shop' class="button"}}
    Contrata Ahora!
  {{/link-to}}
</div>
{{outlet}}
