<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Los Juegos</h2>
  <p>
    Esperamos que encuentres lo que estas buscando
  </p>
  {{#link-to 'juegos' class="button"}}
    Contrata Ahora!
  {{/link-to}}
</div>
{{outlet}}
